body{
    font-family:'Open Sans', sans-serif;
}
h1{
    text-align: center;
}

#container{
    background-color: #003049;
    width:90%;
    /* height: 200px; */
    margin: 0 auto;
    border:5px solid #003049;
    display: flex;
    /* ! flex direction */
    flex-direction: row; 
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* ? justify content */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    justify-content: center;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* & flex Wrap */
    flex-wrap:wrap; 
    /* flex-wrap: wrap-reverse; */
    /* *align items -> works on cross axis */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */
    /* align-items: baseline; */
    /* ^ align content -> works on cross axis */
    /* align-content: center; */
    /* align-content: flex-start; */
    /* align-content: space-between; */
}

#container div{
    width: 200px;
    height: 200px;
    text-align: center;
    /* max-width: 300px; */
    /* todo flex sizing propertis */
    flex-basis: 200px;
    /* flex-grow: 1;  */

}
/* div:nth-of-type(1){
    flex-grow: 1;
}
div:nth-of-type(5){
    flex-grow: 1;
} */
/* div:nth-of-type(3){ */
    /* ~ align self */
    /* align-self: center; */
/* } */

/* div:nth-of-type(2){ */
    /* ~ align self */
    /* align-self: flex-end; */
/* } */
h2{
    text-align: center;
}
main{
    width: 80%;
    margin: 0 auto;
    border: 5px solid black;
    height: 500px;
    display: flex;
}
/* * flex:flex growth|flex shrink|flex basis */

main .sidebar{
    background-color: #6930c3;
    flex: 1 2 300px;
    border: 2px solid white;
}

main .maincontent{
    background-color: #80ffdb;
    flex:1 1 600px;
}